<main>
    <div class="match-wrapper">
        <div class="status-wrapper" [ngClass]="{ 'victory': match.info.participants[0].win, 'defeat': !match.info.participants[0].win}"></div>

        <div class="participant-wrapper">
           <img src="{{match.info.participants[0].championImage}}" alt=""> 
           <div class="summoners-wrapper">
            <img src="{{match.info.participants[0].summoner1Key}}" alt=""> 
            <img src="{{match.info.participants[0].summoner2Key}}" alt=""> 
           </div>
        </div>

        <div class="match-informations-wrapper">
            <h4 [ngClass]="{ 'victoryFont': match.info.participants[0].win, 'defeatFont': !match.info.participants[0].win}">{{verificaSeStatus(match.info.participants[0].win)}}</h4>
            <h5>Summoner's Rift</h5>
            <p>{{match.info.gameMode}}</p>
        </div>
        <div class="items">
            <img src="{{match.info.participants[0].item0}}" alt="">
            <img src="{{match.info.participants[0].item1}}" alt="">
            <img src="{{match.info.participants[0].item2}}" alt="">
            <img src="{{match.info.participants[0].item3}}" alt="">
            <img src="{{match.info.participants[0].item4}}" alt="">
            <img src="{{match.info.participants[0].item5}}" alt="">
            <img src="{{match.info.participants[0].item6}}" alt="">
        </div>
        <div class="kda-wrapper">
            <img src="../../assets/vs.png" alt="">
            <span>{{montaKDA(match.info.participants[0])}}</span>
        </div>
        <div class="farm-wrapper">
            <div class="farm-info">
                <span>{{formataGold(match.info.participants[0].goldEarned)}}</span>
                <span>{{match.info.participants[0].totalMinionsKilled}}</span>
            </div>
            <div class="farm-icons">
                <img src="../../assets/gold.png" alt="">
                <img style="margin-left: 0.3rem;" src="../../assets/minion.png" alt="">
            </div>
        </div>
        <div class="match-time-wrapper">
            <span style="font-size: 0.9rem;">{{formatarTempo(match.info.gameDuration)}}</span>
            <span style="font-size: 0.7rem;margin-top: 0.3rem;">{{converterDataUnixParaNormal(match.info.gameStartTimestamp)}}</span>
        </div>
    </div>
</main>
