################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/back-end/LolWebApiRest/.vs/LolWebApiRest/FileContentIndex/1359dc1c-a986-4d5c-b428-aeb3279b5a68.vsidx
