################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/back-end/LolWebApiRest/.vs/LolWebApiRest/FileContentIndex/1359dc1c-a986-4d5c-b428-aeb3279b5a68.vsidx
/back-end/LolWebApiRest/.vs/LolWebApiRest/FileContentIndex/62ae5d62-25af-4bca-8c12-fd8f852fd0e9.vsidx
/back-end/LolWebApiRest/.vs/LolWebApiRest/FileContentIndex/efcbd907-fe5f-4c53-9c43-83046d647703.vsidx
/back-end/LolWebApiRest/.vs/LolWebApiRest/FileContentIndex/efcbd907-fe5f-4c53-9c43-83046d647703.vsidx
/back-end/LolWebApiRest/.vs/LolWebApiRest/FileContentIndex/0596e1f5-5751-4178-8dcf-5b3527f5ae11.vsidx
/back-end/LolWebApiRest/.vs/LolWebApiRest/FileContentIndex/0596e1f5-5751-4178-8dcf-5b3527f5ae11.vsidx
*.vsidx
/.vs/VSWorkspaceState.json
/.vs/lol2/v17/.wsuo
