<main>
  <div class="cabecalho-campeoes">
    <input type="text" placeholder="Buscar Campeões" [(ngModel)]="filtroChamp" />

    <div>
      <label for="Ordem">Ordem</label>
      <select id="Ordem" name="Ordem" (change)="ordenarOpcoes()">
        <option value="Alfabética">Alfabética</option>
        <option value="Maestria">Maestria</option>
        <option value="WinRate">WinRate</option>
        <option value="Bau-disponivel">Baú dispolnivel</option>
      </select>
    </div>

    <div>
      <label for="Funcao">Função primaria</label>
      <select id="Funcao" name="Funcao">
        <option value="Todos">Todos</option>
        <option value="Tank">Tank</option>
        <option value="Mago">Mago</option>
        <option value="Assassino">Assassino</option>
        <option value="Suporte">Suporte</option>
        <option value="Guerreiro">Guerreiro</option>
        <option value="Atirador">Atirador</option>
      </select>
    </div>

    <div>
      <label for="Disponibilidade">Disponibilidade</label>
      <select id="Disponibilidade" name="Disponibilidade">
        <option value="Ja-obtido">Já obtido</option>
        <option value="Nao-obtido">Não obtido</option>
        <option value="Disponivel">Disponivel</option>
      </select>
    </div>

  </div>

  <div class="buscar" (click)="carregarCampeoes()"></div>

  <div class="grid-container">
    <div *ngFor="let champion of filtrarLista()"  class="grid-item">
      <div class="champ-container">
        <div class="imagem-campeao">
          <div class="champ" [ngStyle]="{ 'background-image': 'url(' + champion.champUrlImg + ')' }">
            <img class="imagem-campeao" src="../../assets/Maestria/borda-maestria6.png">
            <!-- arrumar borda do bau para ficar emcima da borda da maestria -->
            <!-- <img class="imagem-campeao" src="../../assets/Maestria/borda-com-bau.png"> -->
          </div>
        </div>
        <div class="champName">
          {{champion.champName}}
        </div>
      </div>
    </div>
  </div>

</main>
