main{
  width: 100%;
  height: 100%;
}

.cabecalho-campeoes{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.5rem;
  background-image: url(../../assets/background-campeoes.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 1rem 0.75rem 1rem 1.25rem;
}

.buscar main div {
}

.buscar main div div{
  display: flex;
  justify-content: center;
  align-items: center;
}

main div div label{
  color: #55331a;
  margin-right: 5px;
}

main div div select{
  border: none;
}

#Ordem , #Funcao ,#Disponibilidade{
  background-image: linear-gradient(to bottom, #f8faf9, #d2d0c5);
  border: none;

}
.buscar{
  width: 3rem;
  height: 3rem;
  background-color: #55331a;
}

.champ-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 4rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr); /* 10 colunas igualmente espaçadas */
  gap: 2px; /* espaçamento entre os itens */
  overflow-y: scroll;
  max-height: 80%;
  overflow-x: hidden;
  padding: 2rem;
}

.grid-item {
  display: flex; /* Para manter o conteúdo alinhado dentro das células */
  align-items: center; /* Alinha o conteúdo verticalmente */
  justify-content: center;
}

.imagem-campeao {
  position: relative;
  width: 4rem;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.champ{
    width: 4rem;
    height: 4rem;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2.6rem;
}

.champName{
  font-size: 8pt;
  font-weight: 500;
  color: #55331a;
  margin-bottom: 1rem;
}

.Bau-disponivel{
  position:absolute;
  z-index: 4;
  width: 4rem;
}


.maestria-background{
  width: 3rem;
  height: 5rem;
  background-size: cover; /* Ajusta o tamanho da imagem para cobrir todo o contêiner */
  background-position: center; /* Posiciona a imagem no centro*/
  max-height: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
/* .imagem-maestria{
  position: absolute;
  width: 3rem;
  top: auto;
  left: auto;
  z-index: 1;

} */

.maestria-7 {
  background-image: url('../../assets/Maestria/borda-maestria7.png');
}

.maestria-6 {
  background-image: url('../../assets/Maestria/borda-maestria6.png');
}

.maestria-5 {
  background-image: url('../../assets/Maestria/borda-maestria5.png');
}

.maestria-4 {
  background-image: url('../../assets/Maestria/borda-maestria4.png');
}

.maestria-3 {
  background-image: url('../../assets/Maestria/borda-maestria3.png');
}

.maestria-2 {
  background-image: url('../../assets/Maestria/borda-maestria2.png');
}

.maestria-1 {
  background-image: url('../../assets/Maestria/borda-maestria1.png');
}

.maestria-0 {
  background-image: url('../../assets/Maestria/borda-maestria.png');
}


