<div class="container">
    <main>
        <header>
            <div class="border-gold">
                <div class="header-content">
                    <div class="icon">
                        <img src="{{iconUrl}}" alt="">
                    </div>
                    <span>
                        {{Username}}
                    </span>
                </div>
            </div>
        </header>
        <footer>
            <div class="footer-box champions">
                <div class="footer-text">
                    <img src="../../assets/text.png" alt="">
                </div>
                <div class="masterys">
                    <div class="mastery-side">
                        <img src="../../assets//Maestria/maestria5.png" class="overlay-image" alt="">
                        <div class="champion-image-container">
                            <img src="{{urlChampion}}" class="champion-image" alt="">
                        </div>
                        <span class="champion-name">{{championName}}</span>
                    </div>
                    <div class="mastery">
                        <img src="../../assets//Maestria/maestria5.png" class="overlay-image" alt="">
                        <div class="champion-image-container">
                            <img src="{{urlChampion}}" class="champion-image" alt="">
                        </div>
                        <span class="champion-name">{{championName}}</span>
                    </div>
                    <div class="mastery-side">
                        <img src="../../assets//Maestria/maestria5.png" class="overlay-image" alt="">
                        <div class="champion-image-container">
                            <img src="{{urlChampion}}" class="champion-image" alt="">
                        </div>
                        <span class="champion-name">{{championName}}</span>
                    </div>
                </div>
            </div>
            <div class="footer-box ranked">
                <div class="footer-text">
                    <img src="../../assets/text2.png" alt="">
                </div>
              
            </div>
        </footer>
    </main>
</div>