<div class="container">
    <main>
        <header>
            <div class="border-gold">
                <div class="header-content">
                    <div class="icon">
                        <img src="{{iconUrl}}" (click)="GetUser()" alt="">
                    </div>
                    <span>
                        {{username}}
                    </span>
                </div>
            </div>
        </header>
        <footer>
            <div class="footer-box champions">
                <div class="footer-text">
                    <img src="../../assets/text.png" alt="">
                </div>
                <div class="masterys">
                    <div class="mastery-side">
                        <img src="../../assets//Maestria/maestria5.png" class="overlay-image" alt="">
                        <div class="champion-image-container">
                            <img src="{{urlChampion3}}" class="champion-image" alt="">
                        </div>
                        <p class="mastery-points">{{championPoints3}}</p>
                        <span class="champion-name">{{championName3}}</span>
                    </div>
                    <div class="mastery">
                        <img src="../../assets//Maestria/maestria5.png" class="overlay-image" alt="">
                        <div class="champion-image-container">
                            <img src="{{urlChampion1}}" class="champion-image" alt="">
                        </div>
                        <p class="mastery-points">{{championPoints1}}</p>
                        <span class="champion-name">{{championName1}}</span>
                    </div>
                    <div class="mastery-side">
                        <img src="../../assets//Maestria/maestria5.png" class="overlay-image" alt="">
                        <div class="champion-image-container">
                            <img src="{{urlChampion2}}" class="champion-image" alt="">
                        </div>
                        <p class="mastery-points">{{championPoints2}}</p>
                        <span class="champion-name">{{championName2}}</span>
                    </div>
                </div>
            </div>
            <div class="footer-box ranked">
                <div class="footer-text">
                    <img src="../../assets/text2.png" alt="">
                </div>
                <div class="ranks">
                    <div class="rank-side">
                        <img src="{{urlImgRankTFT}}" alt="">
                        <h4>TFT</h4>
                        <p>{{elo}}</p>
                        <span>{{pdls}}</span>
                    </div>
                    <div class="rank">
                        <img src="{{urlImgRankSolo}}" alt="">
                        <h4>Solo/Duo</h4>
                        <p>{{rankSolo.tier}} {{rankSolo.rank}}</p>
                        <span>{{rankSolo.leaguePoints}} PDL</span>
                    </div>
                    <div class="rank-side">
                        <img src="{{urlImgRankFlex}}" alt="">
                        <h4>5x5 Flex</h4>
                        <p>{{rankFlex.tier}} {{rankFlex.rank}}</p>
                        <span>{{rankFlex.leaguePoints}} PDL</span>
                    </div>
                </div>
              
            </div>
        </footer>
    </main>
</div>