<div class="container">
    <main> 
        <div *ngIf="login" class="background-video">
            <img class="borders" src="../../assets/tela-inicial/top-margin.png" alt="">
            <video  #screenVideo class="gif" controls="false" [muted]="isMuted" (timeupdate)="onTimeUpdate($event)">
                <source [src]="'assets/tela-inicial/screenVideo.mp4'" type="video/mp4">
                Seu navegador não suporta o elemento de vídeo.
            </video>
            <div class="login-card">
                <img style="margin-top: 3rem;" src="../../assets/tela-inicial/logo.png" alt="">
                <form>
                    <p>Iniciar sessão</p>
                    <div class="divider"></div>
                    <div class="inputs">
                        <label for="username">Nome de Usuário</label>
                        <input type="text" name="" id="username" [(ngModel)]="username" [ngModelOptions]="{standalone: true}">
                        <label for="password">Tag</label>
                        <input type="text" name="" id="password" [(ngModel)]="tag" [ngModelOptions]="{standalone: true}">
                        <div class="buttons">
                            <div>
                                <input type="checkbox" name="" id="checkbox">
                                <label for="username" style="margin-left: 0.3rem;">Lembrar nome de usuário</label>
                            </div>
                            <button [ngClass]="{'buttonActive': verificaSeEstaHbilitado()}" [disabled]="!verificaSeEstaHbilitado()" (click)="GetUser()">Conectar</button>
                        </div>
                    <div class="divider"></div>
                    <div style="margin-top: 1rem;" class="options">
                        <p>Não tem um conta?</p><a style="margin-left: 0.3rem;" href="">Cadastre-se agora!</a>
                    </div>
                    <div class="options">
                        <p>Esqueceu seu</p><a style="margin-left: 0.3rem;" href="" > nome de usuário?</a>
                    </div >
                    <div class="options">
                        <p>Esqueceu sua</p><a style="margin-left: 0.3rem;" href=""> senha?</a>
                    </div>
                    </div>
                </form>
                <h5>Jogar League of Legends é <span>GRÁTIS</span></h5>
                <footer class="footer">
                    <div class="footer-content">
                        <div>
                            <img src="../../assets/tela-inicial/riotLogo.png" alt="">
                        </div>
                        <div class="checkboxs">
                            <a style="color: #317ec2;font-weight: 700;">Termos de uso</a>
                            <div>
                                <input type="checkbox" name="" id="checkbox" [(ngModel)]="isMuted">
                                <label for="username" style="margin-left: 0.3rem;">Desabilitar Música de Login</label>
                            </div>
                            <div>
                                <input type="checkbox" name="" id="checkbox" [(ngModel)]="shouldGoToLastSecond" (change)="onGoToLastSecondChange()">
                                <label for="username" style="margin-left: 0.3rem;">Desabilitar animações de Login</label>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
                <img class="borders" src="../../assets/tela-inicial/bottom-margin.png" alt="">
        </div>
        
        <div *ngIf="!login" class="data-wrapper">
            <div class="data-content">
                <div class="tabs">
                    <div class="button active">
                        {{username}}
                    </div>
                 
                </div>
                <div class="tabs-player">
                    <a class="button" routerLink="perfil" [queryParams]="{ puuid: puuid }"> Perfil</a>
                    <!-- <a class="button" routerLink="ligas"> Ligas</a> -->
                    <a class="button" routerLink="historico" [queryParams]="{ puuid: puuid }"> Histórico</a>
                    <a class="button" routerLink="campeoes" [queryParams]="{ puuid: puuid }"> Campeões</a>
                    <div class="button">Runas</div>
                    <div class="button">Talentos</div>
                    <div class="button">Feitiços</div>
                    <div class="button">Arsenais</div>
                    <div class="search">
                        <input type="text" name="" id="" placeholder="Buscar Invocador">
                    </div>
                </div>
                <div class="main-wrapper">
                    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-spin-clockwise" [fullScreen] = "true"><p style="color: white" ></ngx-spinner>
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </main>
</div>